/*Basics*/

body {
	margin: 0;
	padding: 0;
}

p {
	color: #2A85A8;
    font-family:"Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
		color: #1D5C75;
}

h2 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #1D5C75;
}

h3 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #2A85A8;
}

h4 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #1D5C75;
}

.pullquote {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25;
}

nav ul li {
    display: block;
  /*  border-top: 1px #1D5C75 solid;*/
}

ul {
	overflow: hidden;
}

header {
    display: flex;
    flex-flow: row;
		position: fixed;
		top: 0;
		width: 100%;
    background-color: white;
    border-bottom: 10px #1D5C75;
}

.container {
	padding-top: 90px;
	margin-left: 10px;
	margin-right: 10px;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

nav ul li {
    padding: 6px;
}

a:link, a:visited {
		display: block;
		color: #2A85A8;
    	text-decoration: none;
   		font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

a:hover, a:active {
		color: #1D5C75;
		font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
	}

	.menu-trigger {
	    order: 1;
	    font-size: 2.4em;
	    width: 2em;
			margin-left: 5px;
	}

	a.proud:link, a.proud:visited {
				color: #3DC1F5;
				padding: none;
		    text-decoration: underline;
		   	font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
		}

	a.proud:hover, a.proud:active {
				color: #1D5C75;
				font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
			}

			footer p{
					border-top: 8px #1D5C75;
					color: #2A85A8;
			    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
					font-style: italic;
					font-size: 0.8em;
					padding: 5px;
					text-align: right;
					margin: 0;
					}

					li a, .dropbtn {
					  display: block;
					  color: white;
					  text-align: center;
					  text-decoration: none;
					}

					li.dropdown {
					  display: block;
					}

					.dropdown-content {
					  display: none;
					  position: absolute;
					  min-width: 160px;
					  z-index: 1;
						background-color: white;

					}

					.dropdown-content a {
					  color: #2A85A8;
					  padding: 12px 16px;
					  text-decoration: none;
					  display: block;
					  text-align: left;
					}

					.dropdown-content a:hover {
						color: #1D5C75;
					}

					.dropdown:hover .dropdown-content {
					  display: block;
					}

/*Visuals*/
/*Graphics*/
.graphic1 img{
	width: 100%;
	max-width: 400px;
}

.graphic2 img{
	width: 100%;
	max-width: 400px;
}

/*Home photo*/
.me img{
	display: block;
	width: 100%;
	max-width: 400px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.caption {
    color: white;
	}

/*Icons*/
.icon1 img {
	width: 100%;
	border-radius: 80%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.icon1 {
	text-align: center;
}

.icon2 img {
	width: 100%;
	border-radius: 80%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.icon2 {
	text-align: center;
}

.icon3 img {
	width: 100%;
	border-radius: 80%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.icon3 {
	text-align: center;
}

.icon4 img {
	width: 100%;
	border-radius: 80%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.icon5 img {
	width: 100%;
	border-radius: 80%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.icon6 img {
	width: 100%;
	border-radius: 80%;
max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/*Publication images*/
.pub img {
	width: 100%;
	max-width: 350px;
	float: none;
}

.pub2 img {
	width: 100%;
	max-width: 350px;
	float: none;
}

.pub3 img {
	width: 100%;
	max-width: 350px;
	float: none;
}

.pub4 img {
	width: 100%;
	max-width: 350px;
	float: none;
}

.card-container {
    display: flex;
    flex-flow: column;
}

.pub, .pub2, .pub3, .pub4 {
	margin-bottom: 20px;
}

/*Clips*/
.links, .links2, .links3, .links4 {
	padding: 0;
	margin-bottom: 20px;
	padding-left: 10px;
}

.card {
    box-shadow: 1px 1px 3px #888;
    padding: 0;
    margin-bottom: 20px;
}

.card p {
    padding: 10px;
}

/*Full-Screen*/

@media screen and (min-width: 700px){

	.me img {
		display: block;
		width: 100%;
		padding: 0;
	}

	.card-container {
					flex-flow: row;
					flex-wrap: wrap;
					justify-content: space-between;
			}
	.card {
					width: 30%;
			}

	.pullquote {
		display: block;
	}

    nav ul {
        display: flex;
				justify-content: flex-end;
				margin-right: 30px;
    }

		header {
			justify-content: space-between;
			align-items: flex-end;
		}

    nav ul li {
        border-top: none;
    }

  .menu-trigger {
        visibility: hidden;
    }

		header h1 {
			order: 1;
			margin-left: 30px;
		}

		nav {
			order: 2;
		}

.back {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
			"a b b"

}			.me {
				grid-area: a;
			}

			.section1 {
				grid-area: b;
			}

.bottom {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
	"c d e"
	"f f f"
}

.icon1 {
place-self: center;
	grid-area: c;
}

.icon2 {
	place-self: center;
	grid-area: d;
}

.icon3 {
	place-self: center;
	grid-area: e;
}

.contact {
	grid-area: f;
}

.porthome {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
			"a b c"
			"d e f"
}

.icon4 {
	place-self: center;
	grid-area: a;
}

.icon5 {
	place-self: center;
	grid-area: b;
}

.icon6 {
	place-self: center;
	grid-area: c;
}

.label1 {
	grid-area: d;
}

.label2 {
	grid-area: e;
}

.label3 {
	grid-area: f;
}

.container {
	padding-top: 135px;
}

.ggrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
	"a b"
}

.graphic1 img{
	width: 100%;
	max-width: 400px;
}

.graphic2 img{
	width: 100%;
	max-width: 400px;
}

}

@media screen and (min-width: 1000px) {

	.container {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
	}
}
