/*styles go here*/

/*p {
    color: red;
}*/

p {
	color: #2A85A8;
    font-family:"Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
		color: #87D6F5;
}

h2 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #1D5C75;
	font-size: 2em;
}

h3 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #2A85A8;
	font-size: 2em;
}

h4 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #1D5C75;
	font-size: 1.5em;
}

.pullquote {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25;
}

nav ul li {
    display: block;
    border-top: 1px #1D5C75 solid;
}

header {
    display: flex;
    flex-flow: row;
		position: fixed;
		top: 0;
		width: 100%;
    background-color: #1D5C75;
}

.container {
	padding-top: 100px;
}

.menu-trigger {
    order: 1;
    font-size: 2.4em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

a:link, a:visited {
		display: block;
		color: white;
    font-weight: bold;
    text-decoration: none;
		padding: 6px;
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

a:hover, a:active {
		color: #87D6F5;
		font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
	}

.caption {
    color: white;
	}

footer p{
		background-color: #1D5C75;
		color: #87D6F5;
    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 0.8em;
		padding-top: 5px;
		padding-bottom: 5px;
		margin: 0;
		text-align: center;
}

.picturebox img {
	width: 100%;
	border-radius: 50%;
	max-width: 344px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

.card-container {
    display: flex;
    flex-flow: column;
}

.pub, .pub2, .pub3, .pub4 {
	padding: 0;
	margin-bottom: 20px;
	background-color: #1D5C75;
	padding-left: 10px;
}

.links, .links2, .links3, .links4 {
	border-top: 10px solid #1D5C75;
	padding: 0;
	margin-bottom: 20px;
	background-color: #2A85A8;
	padding-left: 10px;
}

.card {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid #1D5C75;
    padding: 0;
    margin-bottom: 20px;
		background-color: #2A85A8;
}

.card p {
    padding: 10px;
}

@media screen and (min-width: 700px){

	.card-container {
					flex-flow: row;
					flex-wrap: wrap;
					justify-content: space-between;
			}
	.card {
					width: 45%;
			}

	.picturebox img {
		display: block;
		width: 100%;
		padding: 0;
	}

	.picturebox {
		width: 45%;
		float: left;
		margin-right: 20px;
	}

	.pullquote {
		display: block;
	}

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

  .menu-trigger {
        visibility: hidden;
    }

		header h1 {
			order: 1;
			margin-left: 10px;
		}

		nav {
			order: 2;
		}

.flow {
		display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a b b"
				"c c d"
				"e f f"
				"g g h";
			}

.pub {
	grid-area: a;
}

.links {
	grid-area: b;
}

.pub2 {
	grid-area: d;
}

.links2 {
	grid-area: c;
}

.pub3 {
	grid-area: e;
}

.links3 {
	grid-area: f;
}

.pub4 {
	grid-area: h;
}

.links4 {
	grid-area: g;
}

article {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
			"a b b"
}

.picturebox {
	width: 100%;
	max-width: 344px;
	grid-area: a;
}

.section1 {
	grid-area: b;
}

.container {
	padding-top: 120px;
}
}

@media screen and (min-width: 1000px) {

	.container {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
	}
}
