/*styles go here*/

/*p {
    color: red;
}*/

#container{
	background-color: #fff;
	width: 95%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}

p {
	color: #2A85A8;
    font-family:"Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
		color: #17485C;
}

h2 {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	color: #17485C;
}

body {
	background-color: #A6DFF5;
}

#nav {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#nav li {
  margin:0;
  padding:0;
}

#nav a:link, #nav a:visited {
  display: block;
  font-weight: bold;
  text-align: center;
  color:black;
  background-color: white;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: white;
}

#footer {
    color: #2A85A8;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 0.8em;
    border-top: 1px solid #17485C;
}

img {
	border: none;
}

@media (min-width: 600px) {
  #nav {
    flex-direction: row;
    justify-content: center;
  }
